<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTLTMHj0pOtbyN4TaLgrYQumCfuuwSxZA</string>
	<key>GCM_SENDER_ID</key>
	<string>751016455271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.comandadigital</string>
	<key>PROJECT_ID</key>
	<string>comanda-digiral01</string>
	<key>STORAGE_BUCKET</key>
	<string>comanda-digiral01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751016455271:ios:329cb5cd537251fdfbb8c2</string>
</dict>
</plist>